*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    color: white;
    overflow-x: hidden;
}
:root{
    --standard-golden: #eac82f;
    --darker-golden: #ceae23;
    --neutral-orange:#f6be45;
    --black-background: #393837;
}


/* PARTE DEL HEADER */
.menu-icon{
    display: none;
}
.main-navbar{
    background-color: black;
    padding: 1.8rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgs-container .logo{
    margin-left: 2rem;
    height: 10rem;
}
.navbar-right ul{
    display: flex;
    list-style: none;
}
.navbar-right ul li a{
    font-size: 1.6rem;
    margin-right: 3rem;
    text-decoration: none;
    color: var(--standard-golden);
}
.navbar-right ul li a:hover{
    color: white;
    font-weight: 700;
}

/* PARTE DEL .mainContent CONTENT*/

.mainContent {
    background-color: whitesmoke;
    background-image: url(/Imgs/fondoDeMain.jpg);
    background-position: center;
    background-repeat: no-rpeat;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}
.mainPart1{
    padding: 15rem 3rem;
    display: flex;
    place-items: start;
    flex-direction: column;
    color: black;
}
.mainPart1 .mainTitle{
    margin: 10rem 0;
    font-size: 6.5rem;
}
.mainPart1 p{
    font-size: 1.7rem;

}
.mainPart2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin-bottom: 10rem;
}
.mainContent .mainPart2 button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.mainPart2 .text-container{
    background-color: whitesmoke;
    margin: 3rem 15rem;
    padding: 8rem 2.5rem;
    border-radius: 2rem;
}
.mainPart2 h1{
    font-size: 5rem;
    color: var(--darker-golden);
}
.mainPart2 p{
    font-size: 3rem;
    color: black;
}
.mainContent button{
    margin-right: 28rem;
    margin-top: 10rem;
    padding: 1.5rem 3.5rem;
    border: none;
    font-size: 1.5;
    background-color: var(--neutral-orange);
}
.mainContent button:hover{
    background-color: #d1941a;
}
.mainContent button a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

/* Estilos del Slider */

.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}
.slider .cards{
    padding: 0rem 1rem;
    width: 300px;
    display: flex;
    justify-content: center;
}
.slider .cards p{
    padding: 1rem;
}
.slider .cards-title{
    
    position: absolute;
    color: var(--darker-golden);
    /* margin-left: auto;
    margin-right:auto ; */
    background-color: whitesmoke;
    padding: 0.5rem 0.7rem;
    /* width: 40%; */
}
.slider .cards-text{
    margin-top: 3rem;
    background-color: #393837;
}
/* .box-slider{
    display: flex;
    gap: 50px;
    height: 315px;
    overflow-y: hidden;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
}

.box-card{
    position: relative;
    scroll-snap-align: x center;
    width: 100%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--black-background);
   
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}

.box-card-title{
    position: absolute;
    top: -27.3px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: #393837;
    color: var(--darker-golden);
    padding: 6px;
} */


@media (max-width: 900px) {

    /* Media queris HEADER/NAV */
    .mainPart1{
        place-items: center;
    }
    .imgs-container{
        display: flex;
        justify-content: center;
    }
    .navbar-right .menu-icon{
        margin-left: auto;
        margin-right: auto;
    }
    .main-navbar{
        flex-direction: column;
        justify-content: center;
    }
    .menu-icon{
        display: flex;
        width: 40px;
    }
    .navbar-right .list-container{
        display: none;
    }
    .navbar-right button img:hover .list-container{
        display: block;
    }

    /* Media queries .mainContent parte 1 */
    .mainPart1 .mainTitle{
        font-size: 4.5rem;
    }
    .mainPart1 button{
        margin-right: 0rem;
    }
    .mainPart2 .text-container{
        width: 100vw;
    }
}