*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    color: white;
}
:root{
    --standard-golden: #eac82f;
    --darker-golden: #ceae23;
}


/* PARTE DEL HEADER */
.menu-icon{
    display: none;
}
.main-navbar{
    background-color: black;
    padding: 1.8rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgs-container .logo{
    margin-left: 2rem;
    height: 10rem;
}
.navbar-right ul{
    display: flex;
    list-style: none;
}
.navbar-right ul li a{
    font-size: 1.6rem;
    margin-right: 3rem;
    text-decoration: none;
    color: var(--standard-golden);
}
.navbar-right ul li a:hover{
    color: white;
    font-weight: 700;
}


@media (max-width: 900px) {
    .imgs-container{
        display: flex;
        justify-content: center;
    }
    .navbar-right .menu-icon{
        margin-left: auto;
        margin-right: auto;
    }
    .main-navbar{
        flex-direction: column;
        justify-content: center;
    }
    .menu-icon{
        display: flex;
        width: 40px;
    }
    .navbar-right .list-container{
        display: none;
    }
    .navbar-right button img:hover .list-container{
        display: block;
    }
}

/* PARTE DEL MAIN CONTENT*/

main{
    background-image: url(/Imgs/fondoDeMain.jpg);
}